.nav-bar{
    display: grid;
    align-items: center;
    grid-auto-rows: 1fr;
    min-height: 260px;
    max-height: 350px;
    border: solid;
    border-width: 1px;
}

html {
    scroll-behavior: smooth;
}

.main-grid{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.nav-link {
    color: black;
    text-decoration: none;
    align-items: center;
}

.nav-link:hover{
    color: black;
    background: silver;
}

header{
    font-size: 16pt;
    padding: 10px;
}

p{
    padding: 10px;
}

.main-section{
    padding: 3em;
}

/* for mobile */

@media (max-width: 600px){
    .main-grid{
        grid-template-columns: 1fr;
    }
    .nav-bar{
        height: 30vh;

    }
    .nav-link {
        line-height: 10px;
    }
}